#one {
    margin:auto;
    background-color:#999999;
    height:200px;
    width:500px;
}
#two {
    margin:auto;
    background-color:#888888;
    height:170px;
    width:450px;
}
#three {
    margin:auto;
    background-color:#777777;
    height:140px;
    width:400px;
}
#four {
    margin:auto;
    background-color:#666666;
    height:100px;
    width:350px;
}