dt, dd {
    width:350px;
    margin:auto;
}
dd {
    padding-left:40px;
    text-align:left;
    margin-bottom:10px;
}
dt input {
    width:120px;
}
input, textarea[id] {
    width:220px
}
button.setButton, button.deleteButton {
    margin-left:5px;
}
div.addButtonRow {
    text-align:center;
}